In [1]:
import sqlite3

In [2]:
# Connect to a database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')
conn

In [3]:
cursor = conn.cursor()

In [4]:
# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
conn.commit()

In [5]:
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Alice', 30))
conn.commit()

In [6]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

In [7]:
print(rows)

[(1, 'Alice', 30), (2, 'Alice', 30)]

In [8]:
# Upadate a record
cursor.execute("UPDATE users SET age = ? WHERE name = ?", (31, 'Alice'))
conn.commit()

In [9]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print(rows)

[(1, 'Alice', 31), (2, 'Alice', 31)]

In [10]:
# Delete a record
cursor.execute("DELETE FROM users WHERE name = ?", ('Alice',))
conn.commit()
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print(rows)

[]

In [11]:
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Alice', 30))
conn.commit()

In [12]:
# Working with Sales Data
# Connect to a database
conn = sqlite3.connect('sales_data.db')
cursor = conn.cursor()

# Create a table for sales data
cursor.execute('''CREATE TABLE IF NOT EXISTS sales
                  (id INTEGER PRIMARY KEY, product TEXT, quantity INTEGER, price REAL)''')
sales_data = [
    ('Laptop', 5, 999.99),
    ('Smartphone', 10, 499.99),
    ('Tablet', 7, 299.99),
    ('Headphones', 15, 89.99),
    ('Smartwatch', 8, 199.99),
    ('Camera', 4, 599.99),
    ('Printer', 6, 149.99),
    ('Monitor', 3, 249.99),
    ('Keyboard', 12, 49.99),
    ('Mouse', 20, 29.99)]

conn.commit()

cursor.executemany(
    "INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)", sales_data
)
conn.commit()

In [13]:
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 5, 999.99)
(2, 'Smartphone', 10, 499.99)
(3, 'Tablet', 7, 299.99)
(4, 'Headphones', 15, 89.99)
(5, 'Smartwatch', 8, 199.99)
(6, 'Camera', 4, 599.99)
(7, 'Printer', 6, 149.99)
(8, 'Monitor', 3, 249.99)
(9, 'Keyboard', 12, 49.99)
(10, 'Mouse', 20, 29.99)
(11, 'Laptop', 5, 999.99)
(12, 'Smartphone', 10, 499.99)
(13, 'Tablet', 7, 299.99)
(14, 'Headphones', 15, 89.99)
(15, 'Smartwatch', 8, 199.99)
(16, 'Camera', 4, 599.99)
(17, 'Printer', 6, 149.99)
(18, 'Monitor', 3, 249.99)
(19, 'Keyboard', 12, 49.99)
(20, 'Mouse', 20, 29.99)